DATABASE_URL=

NODE_ENV=
CORS_ORIGIN=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=

GISTORY_CLIENT_ID=
GISTORY_CLIENT_SECRET=

GISTORY_AUTHORIZE_URL=
GISTORY_TOKEN_URL=
GISTORY_USERINFO_URL=

GISTORY_REDIRECT_URI=
GISTORY_SCOPES=
GISTORY_CODE_CHALLENGE=